@import '../styles/base';

:host {
  display: block;
}

#main_container {
  background-color: white;

}


#content_container {
  background-color: yellow;
  z-index: 1;
  -webkit-transition: left 200ms;
  -moz-transition: left 200ms;
  -o-transition: left 200ms;
  transition: left 200ms;
}

core-menu a {
  color: $dark-text;
}
.content {
  background-color: #FFFFFF;
}
core-toolbar {
  color: $light-text;
  background-color: $primary-color;

}
core-toolbar [icon="menu"] {
  margin-left: -6px;
}
#menuBtn {
  margin-right: 0;
}
core-toolbar [icon="more-vert"] {
  padding-right: 0;
}

#header_title {
  margin-top: -4px;
  margin-left: 6px;
}
.toolbar-flex {
  height: 48px;
}
